//templates/edit.html
{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{employee.id}}" method="POST">
          <div class="form-group">
            <input type="text" name="age" value="{{employee.age}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="name" value="{{employee.name}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="chip_number" value="{{employee.chip_number}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="personal_number" value="{{employee.personal_number}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}